// When color definition differs for dark and light variant
// it gets @if ed depending on $variant


$base_color: if($variant == 'light', #E5E9F0, #2E3440);
$text_color: if($variant == 'light', #2E3440, #ECEFF4);
$bg_color: if($variant == 'light', #E5E9F0, #434C5E);
$fg_color: if($variant == 'light', #434C5E, #E5E9F0);

$selected_fg_color: if($variant == 'light', #ECEFF4, #3B4252);
$selected_bg_color: if($variant == 'light', #81A1C1, #5E81AC);
$selected_borders_color: if($variant== 'light', $selected_bg_color, #4C566A);
$borders_color: if($variant == 'light', $bg_color, #3B4252);
$alt_borders_color: if($variant == 'light', #E5E9F0, #2E3440);
$borders_edge: if($variant == 'light', transparentize(#ECEFF4, 0.2), transparentize($fg_color, 0.93));
$link_color: if($variant == 'light', $selected_bg_color, $selected_bg_color);
$link_visited_color: if($variant == 'light', $selected_bg_color, $selected_bg_color);
$top_hilight: $borders_edge;
$dark_fill: #4C566A;
$headerbar_color: if($variant == 'light', $bg_color, #3B4252);
$menu_color: if($variant == 'light', $base_color, mix($bg_color, $base_color, 20%));
$popover_bg_color: $bg_color;
$popover_hover_color: if($variant == 'light', #ECEFF4, #434C5E);

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));

$warning_color: #D08770;
$error_color: #BF616A;
$success_color: #A3BE8C;
$destructive_color: #BF616A;

$osd_fg_color: #ECEFF4;
$osd_text_color: #E5E9F0;
$osd_bg_color: if($variant == 'light', transparentize(#3B4252,0.1), transparentize(#3B4252,0.1));
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(#2E3440, 0.3);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(#ECEFF4, 0.9);
$shadow_color: transparentize(#2E3440, 0.9);

$drop_target_color: #A3BE8C;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: #2E3440;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));

//special cased widget colors
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;
$checkradio_fg_color: $selected_fg_color;
$checkradio_borders_color: if($variant == 'light', darken($checkradio_bg_color,20%), darken($checkradio_bg_color,40%));
