// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** remove 'extra padding' in headerbar titlebutton ****/
button.titlebutton:not(.appmenu) {
	margin: 0;
}

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 34px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 24px;

  button.titlebutton {
  	min-height: 22px;
  	min-width: 22px;
  }
}

/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}

/**** bring #2537 workaround to ssd decorations (dark theme only) ****/
@if $variant == 'dark' {
	window.ssd decoration {
		background: black; /* transparent makes gtk3 leak light on the corners #2537 */
	}
}

/**** FIXME messagedialog buttons acting weirdly after upstream sync ****/
/**** temp workaround ****/
messagedialog.csd .dialog-action-area button {
	&:hover, &:active, &:selected, &:backdrop, &:disabled {
		padding: 10px 14px; // labels are not vertically centered on message dialog, this is a workaround
    border-radius: 0;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;

    &:first-child:not(:only-child) {
      border-left-style: none;
      border-bottom-left-radius: $button_radius + 2;
      -gtk-outline-bottom-left-radius: $button_radius + 2;
      -gtk-outline-top-left-radius: 0px;
      -gtk-outline-top-right-radius: 0px;
      -gtk-outline-bottom-right-radius: 0px;
    }
  
    &:last-child:not(:only-child) {
      border-bottom-right-radius: $button_radius + 2;
      -gtk-outline-bottom-right-radius: $button_radius + 2;
      -gtk-outline-top-right-radius: 0px;
      -gtk-outline-bottom-left-radius: 0px;
      -gtk-outline-top-left-radius: 0px;
    }
    &:only-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: $button_radius + 2;
      border-bottom-right-radius: $button_radius + 2;
      -gtk-outline-top-right-radius: 0px;
      -gtk-outline-top-left-radius: 0px;
      -gtk-outline-bottom-left-radius: $button_radius + 2;
      -gtk-outline-bottom-right-radius: $button_radius + 2;
    }
	}
}
