/* Top Bar */
// a.k.a. the panel

$panel_corner_radius: 0;
$panel_bg_color: $base_color;
$panel_fg_color: $fg_color;
$panel_height: 28px;


#panel {
  background-color: $panel_bg_color;
  font-weight: bold;
  height: $panel_height;
  font-feature-settings: "tnum";
  
  &:overview { background-color: rgba($panel_bg_color, 0.35); }

  // transparent panel on lock & login screens
  &.unlock-screen,
  &.login-screen {
    background-color: transparent;

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  // spacing between activities, app menu and such
  #panelLeft, #panelCenter {
    spacing: $base_spacing;
  }

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: $panel_corner_radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;

    &:active, &:overview, &:focus {
      -panel-corner-border-color: lighten($selected_bg_color,5%);
    }
  }

  // panel menus
  .panel-button {
    font-weight: bold;
    color: $panel_fg_color;
    -natural-hpadding: $base_padding * 1.5;
    -minimum-hpadding: $base_padding * 1.5;

    &:hover {
      color: lighten($panel_fg_color, 20%);
    }

    &:active, &:overview, &:focus, &:checked {
      color: lighten($panel_fg_color, 20%);
    }

    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: $base_padding - 1px;
    }

    // app menu icon
    .app-menu-icon {
      margin-left: $base_margin;
      margin-right: $base_margin;
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    // lock & login screen styles
    .unlock-screen &,
    .login-screen & {
      color: lighten($fg_color, 10%);
      &:focus, &:hover, &:active { color: lighten($fg_color, 10%); }
    }
  }

  .panel-button {
    &:active, &:overview, &:focus, &:checked {
      // Trick due to St limitations. It needs a background to draw a box-shadow
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 0 lighten($selected_bg_color,5%);
    }
  }

  .panel-button.clock-display {
    // Move highlight from .panel-button to .clock
    &:active, &:overview, &:focus, &:checked {
      box-shadow: none;

      .clock {
        background-color: rgba(0, 0, 0, 0.01);
        box-shadow: inset 0 -2px 0 0 lighten($selected_bg_color,5%);
      }
    }
  }

  .panel-status-indicators-box,
  .panel-status-menu-box {
    spacing: 10px;
  }

  // spacing between power icon and (optional) percentage label
  .power-status.panel-status-indicators-box {
    spacing: 0;
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning_color; }
}

// App Menu
#appMenu {
  spacing: $base_spacing;
  .label-shadow { color: transparent; }
}
