// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

$base_color: #2e3440;
$bg_color: transparentize(#2e3440, 0.07);
$fg_color: #d8dee9;

$selected_fg_color: if($variant == 'light', #fff, #fefefe);
$selected_bg_color: if($variant == 'light', #3584e4, #8fbcbb);
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 10%));
$borders_color: if($variant == 'light', darken($bg_color, 18%), darken(#2e3440, 7%));
$borders_edge: if($variant == 'light', rgba(255,255,255,0.8), transparentize(#fff, 0.9));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), #88c0d0);
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), transparentize($link_color,0.5));
$top_hilight: $borders_edge;

$warning_color: if($variant == 'light', #f57900, darken(#d08770,10%));
$error_color: if($variant == 'light', #ff8080, darken(#bf616a,5%));
$success_color: if($variant == 'light', #33d17a, darken(#88c0d0,10%));
$destructive_color: if($variant == 'light', #e01b24, darken( #c72240,10%));

$osd_fg_color: if($variant == 'light', #eeeeec, $fg_color);
$osd_text_color: white;
$osd_bg_color: if($variant == 'light', transparentize(darken(desaturate(#3d3846, 100%), 12%),0.04), transparentize($bg_color, 0.05));
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.84);

$shadow_color: if($variant == 'light', rgba(0,0,0,0.1), rgba(0,0,0,0.2));

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: mix($borders_color, $base_color, 60%);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);
